.container-footer {
  background-image: url(../../Images/footer.jpg);
  background-size: cover;
  background-position: center;
  padding: 10px 0px;

}

.brand-footer {
  align-items: center;
  margin-bottom: 0px;

}

.brand-footer img {
  margin-left: 50px;
  margin-top: 70px;
}

.brand-footer h1{
  font-size: 50px;
  text-align: center;
  padding-left: 40px;
  margin-top: 0px;
}

.btn-right {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  width: 170px;
  padding: 15px 20px;
  margin-left: 550px;
  margin-top: 50px;
  text-align: center;
  height: 25px;
}

.btn-right:hover {
  background-color: #9F1D2C;
}

#btn {
color: black;
}

#btn:hover {
  color: white;
}
.contactbox{
  display: flex;
  align-items: center;
  margin-top: 10px;
  height: 200px;
  margin-bottom: 0px;
}

.follow-inline {
 list-style: none;
 padding-left: 0px;
  margin-bottom: 0px;
  align-items: center;
  margin-top: 30px;
  margin-left: 525px;
}

.follow-inline li {
  display: inline;
  padding: 20px;
}

.follow-inline i {
  font-size: 50px;
  color: #83c5be;
}

.follow-inline i:hover {
  color: #9F1D2C;
}
